---
import { cn } from "../lib/utils";
const { class: parentClass = "" } = Astro.props;
---

<div class={cn(parentClass, "signature")}>Johannes Lindgren</div>

<style>
  .signature {
    font-family: "DistantGalaxy", cursive;
  }
</style>
