---
import type { Heading } from "./TableOfContents.astro";
import Link from "./Link.astro";

// https://kld.dev/building-table-of-contents/

const { heading } = Astro.props;
---

<li class="py-1 text-sm">
  <div class="flex gap-1">
    <span class="counter"></span>
    <Link href={"#" + heading.slug} underline>
      {heading.text}
    </Link>
  </div>
  {
    heading.subheadings.length > 0 && (
      <ol class="translate-x-3 pt-1">
        {heading.subheadings.map((subheading: Heading) => (
          <Astro.self heading={subheading} />
        ))}
      </ol>
    )
  }
</li>

<style>
  ol {
    counter-reset: item;
  }
  .counter {
    list-style: none;
    list-style-position: outside;
    word-wrap: break-word;
  }
  .counter::before {
    content: counters(item, ".") ". ";
    counter-increment: item;
  }
</style>
